<ng-container *ngIf="!isLoading">
  <div class="container body">
    <h1>{{model.Title}}</h1>
    <div class="lead" innerHTML="{{model.Body}}">
    </div>
      <article *ngFor="let post of model.Archive.Posts">
        <header>
          <h2><a href="{{post.Permalink}}">{{post.Title}}</a></h2>
        </header>
        <p class="small">Published: {{post.Published | date: 'dd/MM/yyyy'}} in {{post.Category.Title}}</p>
        <ng-container *ngIf="post.Regions.Heading.Ingress; else block">
          {{post.Regions.Heading.Ingress}}
        </ng-container>
        <ng-container #block>
          <ng-container *ngIf="post.Blocks">
            {{post.Blocks[0].Body | firstParagraph}}
          </ng-container>
        </ng-container>
      </article>
  </div>
</ng-container>
