<!--ImageBlock
    <div class="row">
  <div class="col-sm-12">
    <img [src]="model">
  </div>
</div>-->
<!--QuoteBlock
    <div class="row">
  <div class="col-sm-12">
    <blockquote>
      @Model.Body
    </blockquote>
  </div>
</div>-->
<!--HtmlBlock
    <div class="row">
  <div class="col-sm-12">
    @Html.Raw(Model.Body)
  </div>
</div>-->
<!--HtmlColumnBlock
    <div class="row">
  <div class="col-sm-6">@Html.Raw(Model.Column1)</div>
  <div class="col-sm-6">@Html.Raw(Model.Column2)</div>
</div>-->
block todo
