<div class="banner" [ngClass]="{'startpage': !isLoading && model.IsStartPage }" role="banner">
  <div class="bg"></div>
  <h1 *ngIf="!isLoading && model.IsStartPage">
    {{model.Title}}
    <small *ngIf="model.Heading.Ingress !== null">
      {{model.Heading.Ingress.Value}}
    </small>
  </h1>
  <!--<app-submenu></app-submenu>-->
</div>
<div class="header clearfix">
  <div class="container">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li *ngFor="let item of sitemap" role="presentation" [ngClass]="{'active': currentPage === item.Permalink, 'active-child': currentPageChild }">
          <a [routerLink]="item.Permalink">{{item.MenuTitle}}</a>
        </li>
      </ul>
    </nav>
    <a routerLink="/"><img src="../assets/img/logo.png" alt="Piranha CMS"  role="button"/></a>
  </div>
</div>
<router-outlet></router-outlet>
